/* Navbar container */
.navbar {
  /* width: 100%; */
  background-color: #004110;
  color: #fff;
  padding:1px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem; 
  transition: color 0.3s ease;
}

.nav-links a:hover,
.nav-links a.active { 
  color: #01a029;
  font-weight: bold; 
}

/* Responsive styles */
.menu-toggle {
  display: none;
  background: none;
  color: #fff;
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #004110;
    position: absolute;
    top: 60px;
    right: 10px;
    padding: 1rem;
    border-radius: 5px;
  }

  .nav-links.active {
    display: flex;
  }
}
